body {
  background-image:url("../img/fon5.jpg");

    background-position: center center;

    background-repeat: no-repeat;

    background-attachment: fixed;

    background-size: cover;

    background-color: #464646;
}
h2 {
  text-align: center;
}
.containermod {
 
background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 15%, rgba(181,198,208,1) 73%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(15%, rgba(216,225,231,1)), color-stop(73%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 15%, rgba(181,198,208,1) 73%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 15%, rgba(181,198,208,1) 73%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 15%, rgba(181,198,208,1) 73%, rgba(224,239,249,1) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 15%, rgba(181,198,208,1) 73%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );

  border: 4px solid white;
  border-radius: 5px;
  margin-left: 38%;
  margin-top: 7%;
  margin-bottom: 2%;
  max-width: 140px;
  padding: 3%;
}
.containermod2 {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 15%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%) repeat scroll 0 0;
  border-radius: 5px;
  float: right;
  margin-right: 10%;
  margin-top: 2%;
  max-width: 50%;
  padding: 1%;
}
.containermod3 {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 15%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%) repeat scroll 0 0;
  border-radius: 5px;
  float: right;
  margin-right: 35%;
  margin-top: 2%;
  max-width: 50%;
  padding: 1%;
}
.form {
  display: block;
  padding: 3px;
  width: 100%;
}

input {
  margin-bottom: 0px;
  max-width: 100%;
}
.datos {
 
background: rgba(242,246,248,1);
background: -moz-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 15%, rgba(181,198,208,1) 73%, rgba(224,239,249,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,246,248,1)), color-stop(15%, rgba(216,225,231,1)), color-stop(73%, rgba(181,198,208,1)), color-stop(100%, rgba(224,239,249,1)));
background: -webkit-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 15%, rgba(181,198,208,1) 73%, rgba(224,239,249,1) 100%);
background: -o-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 15%, rgba(181,198,208,1) 73%, rgba(224,239,249,1) 100%);
background: -ms-linear-gradient(top, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 15%, rgba(181,198,208,1) 73%, rgba(224,239,249,1) 100%);
background: linear-gradient(to bottom, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 15%, rgba(181,198,208,1) 73%, rgba(224,239,249,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9', GradientType=0 );

  border: 5px solid white;
  border-radius: 5px;
  padding: 4%;
}
#map_canvas {
  border: 5px solid white;
  border-radius: 5px;
  margin-left: 10%;
  position: fixed;
  margin-bottom: 10%;
}
.datosder {
  float: left;
  width: 50%;
}
.datosiz {
  float: right;
  width: 50%;
}
.datoscen {
  margin-left: 0%;
  margin-top: 33%;
}
.buttons {
  float: right;
}
.buttons > input {
  background-color: #00789d;
  border-color: white;
  border-radius: 5px;
  color: white;
}
.buttons > input:hover{
  background-color: #99E5FF;
  border-color: white;
  border-radius: 5px;
  color: white;
  
}
button {
    background-color: #00789d;
  border-color: white;
  border-radius: 5px;
  color: white;
}
button:hover{
  background-color: #99E5FF;
  border-color: white;
  border-radius: 5px;
  color: #00789d;
 
}
.buttons a {
  color: white;
  text-decoration: none;
}

.primerospasos {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 15%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%) repeat scroll 0 0;

  border: 4px solid white;
  border-radius: 5px;
  float: left;
  margin-left: 30%;
  margin-top: 7%;
  max-width: 15%;
  padding: 1%;
}
.logo {
  display: block;
  float: left;
  margin-left: 3%;
  margin-top: 6%;
  position: absolute;
}
.logoin {
  margin-left: 5%;
  margin-top: -20%;
  position: absolute;
}


.hov {
  display: initial;
  max-width: 50px;
  opacity: 0.5;
}
.hov:hover {
  display: initial;
  max-width: 50px;
  opacity: 1;
}


  .footer-center .footer-slogan{
    color:  #8d9093;
    font-size: 24px;
    margin: 0;
  }

  .footer-center .footer-name{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
  }

  .footer-center .footer-links{
    list-style: none;
    font-weight: bold;
    color:  #ffffff;
    padding: 35px 0 23px;
    margin: 0;
  }

  .footer-center .footer-links a{
    display:inline-block;
    text-decoration: none;
    color: inherit;
  }
.footer-center {
  background-color: #292c2f;
  border-bottom: 5px solid #333333;
  border-radius: 5px;
  bottom: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  font: 18px sans-serif;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
.logoi {
  display: block;
  margin: -18% 0 0 4%;
  padding: 0;
  text-align: left;
}


ul {
  background-color: #333;
  list-style-type: none;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  overflow: hidden;
  padding: 0 0 0 50%;
}
ul {
  background-color: #333;
  list-style-type: none;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: 0;
  overflow: hidden;
  padding: 0 0 0 50%;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
.headperfil {
  margin-left: -7%;
}
.tit {
  background: #333333 none repeat scroll 0 0;
  color: white;
  text-align: center;
}
.info {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 15%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%) repeat scroll 0 0;
  border: 4px solid white;
  border-radius: 5px;
  float: right;
  margin-right: 10%;
  margin-top: -24%;
  max-width: 29%;
  padding: 1%;
}
.regis {
  color: white;
  margin-top: -14px;
}
.primerospasos > h3 {
  text-align: center;
}
.error {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 15%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%) repeat scroll 0 0;
  border: 5px  white;
  border-radius: 5px;
  display: block;
  float: right;
  margin-right: 12%;
  margin-top: -17%;
  text-align: center;
  width: 20%;
}
 #map{
  width:80%;
  height: 630px;
  border: 5px solid white;
  float: right;
  border-radius: 5px;
 }
.contactos {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 15%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%) repeat scroll 0 0;
  border: 5px solid white;
  border-radius: 5px;
  height: 140px;
  margin-top: 1%;
  padding: 1%;
  width: 93%;
}
.nuevo {
  background: #333333 none repeat scroll 0 0;
  border: 5px solid #333333;
  border-radius: 5px;
  margin-bottom: 13%;
  margin-top: 1%;
  text-align: center;
  width: 95%;
}
.ruta {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 15%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%) repeat scroll 0 0;
  border: 5px none white;
  border-radius: 5px;
  margin-left: 35%;
  text-align: center;
  width: 30%;
}
.inforuta > div {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(242, 246, 248, 1) 0%, rgba(216, 225, 231, 1) 15%, rgba(181, 198, 208, 1) 73%, rgba(224, 239, 249, 1) 100%) repeat scroll 0 0;
  border: 5px none white;
  border-radius: 5px;
  margin-bottom: 6%;
  max-height: 400px;
  padding: 1%;
  margin-left: 2%;
}

.menucont {
  max-width: 100%;
  position:absolute;
  overflow: scroll;
  max-height: 90%;
  height: auto;
}